.Cta {
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  background-color: var(--red);
  transition: all 150ms ease-in-out;
  text-transform: capitalize;
  border: solid 1px var(--red);
  font-weight: bold;

  &:hover {
    color: var(--red);
    background-color: white;
    border: solid 1px var(--red);
  }
}
