.form {
  max-width: 50rem;
  display: grid;
  gap: 1rem;
  max-height: 80vh;

  label {
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}
.input {
  input {
    font-size: 1.6rem;
    border: 1px solid;
    padding: 0.5rem;
  }
}
.add {
  background-color: var(--light-pink);
  color: black;
  padding: 0.5rem 0.7rem;
  display: block;
  margin-top: 2rem;
  width: max-content;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.steps {
  display: grid;
  gap: 1rem;
  li {
    display: flex;
    gap: 1rem;
    width: 50rem;
    input {
      width: 100%;
    }
  }
}
.cta {
  text-align: center;
  margin: 1rem;
  font-size: 1.6rem;
}
.recipeCover {
  display: flex;
  text-transform: capitalize;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  .heading {
    text-transform: uppercase;
    color: var(--red);
    font-family: var(--font-heading);
  }
  .right {
    max-width: 50rem;
  }

  .typeofcuisine {
    border: solid var(--light-pink);
    width: max-content;
    padding: 0.2rem 0.4rem;
  }
  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.like {
  color: var(--red);
}
.base {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 700px) {
.recipeCover{
  flex-direction: column;
  p{
    display: flex;
    flex-wrap: wrap;
  }
}
.ingredients{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-width: 279px;
}
}